@using w3dniDoSetki.Services
@{
    ViewData["Title"] = "Home Page";
}

<div class="align-items-lg-center" id="banner">
    <ul id="filtering">
        <select class="form-select" id="filtering-select-brand"></select>
        <select class="form-select" id="filtering-select-model"></select>
    </ul>
    @for (int i = 0; i < 5; i++)
    {
        @: <p class=i>i</p>;
    }
</div>
<script type="module" src="js/brands.json"></script>
<script type="module" src="js/Index.js"></script>