html {
  font-size: 14px;
}

:root {
  --color-checked: #FF6600;
  --color-nav: #1E1F24;
  --color-body: #101114;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--color-body);
}

#navbar {
  background-color: var(--color-nav);
  margin-bottom: 0;
  padding-bottom: 0;
  
}

#logo {
  background: none;
  border-color: transparent;
}

#banner {
  background-image: url("../images/rsz_11920x550_bg1.jpg");
  margin: auto;
  width: 50%;
  padding: 25vh;
  background-position: center;
  background-attachment: fixed;
  border-color: transparent;
  border-radius: 2%;
  opacity: 0.9;
}

#filtering {
  margin: -70%;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}