html {
  font-size: 14px;
}

:root {
  --color-checked: #FF6600;
  --color-nav: #1E1F24;
  --color-body: #101114;
}

#navbar {
  background-color: var(--color-nav);
  margin-bottom: 0;
  padding-bottom: 0;

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--color-body);
}

#logo {
  background: none;
  border-color: transparent;
}

@media screen and (max-width: 767px){
  #banner {
    background-image: url("../images/porsche-cayman-gt4-front_1930x3413_xtrafondos.com.jpg");
    margin: auto;
    width: 40vh;
    height: 80vh;
    background-position: center;
    background-attachment: fixed;
    border-color: transparent;
    border-radius: 2%;
    opacity: 0.9;
  }

  .antinigger {
    background-position: center;
    background-attachment: fixed;
    z-index: 68;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 2%;
    width: 40vh;
    height: 80vh;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #banner {
    background-image: url("../images/rsz_11920x550_bg1.jpg");
    margin: auto;
    width: 90%;
    height: 80vh;
    background-position: center;
    background-attachment: fixed;
    border-color: transparent;
    border-radius: 2%;
    opacity: 0.9;
  }

  .antinigger {
    margin: auto;
    background-position: center;
    background-attachment: fixed;
    z-index: 68;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 2%;
    width: 50vh;
    height: 70vh;
  }

  #filtering {
    z-index: 69;
    margin: -70%;
    width: 100%;
    background-color: white;
    opacity: 1;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
  }
}


@media screen and (min-width: 1024px) and (max-height: 820px)
{
  

  #banner {
    background-image: url("../images/rsz_11920x550_bg1.jpg");
    margin: auto;
    width: 90%;
    height: 80vh;
    padding: 25vh;
    background-position: center;
    background-attachment: fixed;
    border-color: transparent;
    border-radius: 2%;
    opacity: 0.9;
  }

  #filtering {
    z-index: 69;
    margin: -70%;
    width: 100%;
    background-color: white;
    opacity: 1;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  .antinigger {
    margin: auto;
    background-position: center;
    background-attachment: fixed;
    z-index: 68;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 2%;
    width: 90vh;
    height: 50vh;
  }
}

@media screen and (min-width: 1024px) and (min-height: 821px)
{


  #banner {
    background-image: url("../images/rsz_11920x550_bg1.jpg");
    margin: auto;
    width: 90%;
    height: 80vh;
    padding: 10vh;
    padding-top: 15vh;
    background-position: center;
    background-attachment: fixed;
    border-color: transparent;
    border-radius: 2%;
    opacity: 0.9;
  }

  #filtering {
    z-index: 69;
    margin: 0;
    width: 90%;
    height: 110%;
    background-color: white;
    opacity: 1;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  .antinigger {
    background-position: center;
    background-attachment: fixed;
    z-index: 68;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 2%;
    width: 90vh;
    height: 50vh;
    margin-right: 20vh;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary:hover {
  background-color: var(--color-nav);
  color: var(--color-checked);
}

.btn-primary {
  background-color: var(--color-checked);
  color: var(--color-nav);
}

.text-center {
  color: var(--color-checked);
}
 